body {
    font-family: Arial, sans-serif;
    background-color: #7e7777;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px;
    background: #eb9595;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 15%;
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #884821;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f4f4f4;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
}

li.completed {
    text-decoration: line-through;
}

li button {
    background: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

li button.edit {
    background: #ffc107;
    margin-right: 5px;
}

li button:hover {
    opacity: 0.8;
}